body {
    background-color: black;
}

.main {
    display: flex;
    width: auto;
    gap: 5px;
}

.primary {
        color: black;
        background-color: black;
        border-color: white;
        border-width: 6px;
        width: 650px;
    }
    
    .secondary {
        color: black;
        background-color: black;
        border-color: white;
        border-width: 6px;
        width: 500px;